#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------

#--- Maven
pom_persistence_jpa_dependencies.txt ; pom_persistence_spring_data_jpa_dependencies.txt ;        ; maven/pom_dependencies.vm ; 1

#--- Spring application context
Application context                  ; applicationContext.xml               ; ${RES} ; env/applicationContext_xml.vm   ; 1

#Service pattern
Persistence pattern for spring data JPA ; PersistenceSpringDataJpaServicePattern.java ; ${SRC}/${ROOT_PKG}/persistence/commons                      ; PersistenceSpringDataJpaServicePattern_java.vm ; 1
Service provider using spring           ; ImplementationProviderSpring.java           ; ${SRC}/${ROOT_PKG}/persistence/impl/springdatajpa/provider  ; provider/ImplementationProviderSpring_java.vm ; 1
Spring context utility                  ; SpringContext.java                          ; ${SRC}/${ROOT_PKG}/persistence/impl/springdatajpa/provider  ; provider/SpringContext_java.vm ; 1

# JPA record classes ( with composite key classes if any )
## JPA record (without links) ; ${BEANNAME}JpaRecord.java       ; ${SRC}/${ROOT_PKG}/persistence/impl/springdatajpa/record     ; record/XxxJpaRecord_java.vm      ; *
## Mapper          		   ; ${BEANNAME}Mapper.java          ; ${SRC}/${ROOT_PKG}/persistence/impl/springdatajpa/mapper     ; mapper/XxxMapper_java.vm         ; *
Spring repository ; ${BEANNAME}Repository.java          ; ${SRC}/${ROOT_PKG}/persistence/impl/springdatajpa/repository ; XxxRepository_java.vm ; *
Service implem    ; ${BEANNAME}PersistenceService.java  ; ${SRC}/${ROOT_PKG}/persistence/impl/springdatajpa/service    ; XxxService_java.vm    ; *

# Tests JUnit
Test : Spring context     ; applicationContextTest.xml         ; ${TEST_RES}                                             ; test-env/applicationContextTest_xml.vm ; 1
Test : JPA Entity service ; ${BEANNAME}PersistenceJpaTest.java ; ${TEST_SRC}/${ROOT_PKG}/persistence/impl/springdatajpa  ; test/XxxPersistenceJpaTest_java.vm     ; *
