## --- Global Variables (without reference to $entity )
#set( $recordPackage         = "${ROOT_PKG}.data.record" )
#set( $persistenceJpaPackage = "${ROOT_PKG}.persistence.impl.jpa" )
#set( $jpaCommonsPackage     = "${ROOT_PKG}.persistence.impl.jpa.commons" )
#set( $jpaMapperPackage      = "${ROOT_PKG}.persistence.impl.jpa.mapping" )
#set( $jpaRecordPackage      = "${ROOT_PKG}.persistence.impl.jpa.record" )
##
#set( $repositoryPackage        = "${ROOT_PKG}.persistence.impl.springdatajpa.repository" )
#set( $componentScanBasePackage = "${ROOT_PKG}.persistence.impl.springdatajpa" )